{% extends 'base.html' %}
{% load static %}
{% block main %}
<section class="section" style="padding: 25px;">
    <div class="container" style="font-size: 11px; margin-left: 15px; margin-right: 30px; max-width: 1300px;">
        <div class="row justify-content-center">
            <div class="col-md-16">
                <div class="card">
                    <div class="card-header">
                        <h1 class="fw-bold">Doctor Profile</h1>
                    </div>
                    
                        <table class="table table-bordered table-striped" style="width: 100%;">
                            <thead style="text-align: center;">
                                <tr>
                                	<th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Gender</th>
                                    <th>Mobile Number</th>
                                    <th>Specialization</th>
                                    <th>Medical-Reg-Number</th>
                                    <th>About Me</th>
                                    <th>Photo</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                  
                                    <tr>
                                      <td>{{ user.id }} </td>
                                   	  <td>{{ user.first_name }} {{ user.last_name }}</td>
                                      <td>{{ user.email }} </td>
                                      <td>{{ user.doctor.address }} {{ user.doctor.city }}</td>
                                      <td>{{ user.doctor.gender }} </td>
                                      <td>{{ user.doctor.mobile }} </td>
                                      <td>{{ user.doctor.specialization }} </td>
                                      <td>{{ user.doctor.medicalregno }}</td>
                                      <td>{{ user.doctor.academicinfo }} </td> 
                                            <td>
                                              {% if user.doctor.photo %} 
                                    <img src="/media/{{user.doctor.photo}} " alt="image here" width="90">
                               {% endif %}


                                            </td>
                                      
                                           
                                     
                                        <td>
                                            <a href="{% url 'doctor_profile' %}" class="btn btn-primary">EDIT</a>
                                           </td>
                                           <!--<td>
                                            <a href="#" class="btn btn-danger badge">Delete</a>
                                        </td>-->
                                    </tr>
                           
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}