{% extends 'base.html' %}
{% load static %}
{% block main %}


<section class="page-title bg-1" style="padding: 50px;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Book your</span>
          <h1 class="text-capitalize mb-5 text-lg">Appoinment</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Book your Seat</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="appoinment section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="doctor-img-block">
          <img src="/media/{{ doctor.photo}}" alt="" class="img-fluid w-100">

          <div class="info-block mt-4">
            Pateient Name: <h4 class="mb-0"> {{appointment.patient.user.first_name}} {{appointment.patient.user.last_name}}</h4>
            Requested Date: <h4 class="mb-0">{{appointment.appointment_date}}</h4>
              Requested Time: <h4 class="mb-0">{{appointment.appointment_time}}</h4>
            

            <!-- <ul class="list-inline mt-4 doctor-social-links">
              <li class="list-inline-item"><a href="#"><i class="icofont-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="icofont-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="icofont-skype"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="icofont-linkedin"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="icofont-pinterest"></i></a></li>
            </ul> -->
          </div>
        </div>
      </div>

      <div class="col-lg-9">
           <div class="appoinment-wrap mt-5 mt-lg-0 pl-lg-5">
            <h2 class="mb-2 title-color">Reschedule appoinment</h2>
            
            <form id="#" class="appoinment-form" method="POST" action="#">
              {% csrf_token %}
                    <div class="row">
                       
                         <div class="col-lg-6">
                            <div class="form-group">
                              <label><h5 class="mb-0">Date: </h5> </label>
                                <input name="appointment_date" id="date" type="date" min="{% now 'Y-m-d' %}" class="form-control" required/>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                              <label><h5 class="mb-0">Time: </h5> </label>
                                <input name="appointment_time" id="time" type="time" class="form-control" placeholder="Time" required>
                            </div>
                        </div>
                         
                    </div>
                   
                    <button class="btn btn-main btn-round-full" type="submit">Reschedule<i class="icofont-simple-right ml-2"></i></button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


