{% extends 'base.html' %}
{% load static %}
{% block main %}
	
<section class="page-title bg-1" style="padding: 50px;" >
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">Contact Us</span>
          <h1 class="text-capitalize mb-5 text-lg">Get in Touch</h1>

          <!-- <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">Contact Us</a></li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact form start -->

<section class="section contact-info pb-0" style="padding: 20px">
    <div class="container" >
         <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0" style="padding: 7px;">
                    <i class="icofont-live-support"></i>
                    <h5>Call Us</h5>
                    <a href="tel:9035869864">9035869864</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="contact-block mb-4 mb-lg-0" style="padding: 7px;">
                    <i class="icofont-support-faq"></i>
                    <h5>Email Us</h5>
                    <a href="mailto:cancerprediction@gmail.com">cancerprediction.com</a></h4>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="contact-form-wrap section" style="padding: 8px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="text-md mb-2">Contact us</h2>
                    <div class="divider mx-auto my-4"></div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                    <form action="" method="post">
                    {% csrf_token %}
                 <!-- form message -->
                    <div class="row">
                        <div class="col-12">
                            <div class="alert alert-success contact__msg" style="display: none" role="alert">
                                Your message was sent successfully.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="name" id="name" type="text" class="form-control" placeholder="Your Full Name" pattern="[A-z][a-zA-Z]+[a-zA-Z]*" required >
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input name="email" id="email" type="email" class="form-control" placeholder="Your Email Address" pattern="[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]*" required>
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="subject" id="subject" type="text" class="form-control" placeholder="Your Query Topic" required>
                            </div>
                        </div>
                         <div class="col-lg-6">
                            <div class="form-group">
                                <input name="phone" id="phone" type="text" class="form-control" placeholder="Your Phone Number" pattern="[5-9][0-9]{9}" title="Numbers allowed and 10 numbers only" required>
                            </div>
                        </div>
                    </div>

                        <div class="form-group-2 mb-4">
                            <textarea name="message" id="message" class="form-control" rows="8" placeholder="Your Message" required></textarea>
                         </div>

                    <div class="text-center" >
                        <input class="btn btn-main btn-round-full" name="submit" type="submit" value="Send Messege" style="width: 170px;"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


 

{% endblock %}
