{% extends 'base.html' %}
{% load static %}
{% block main %}
    <br/>
    <br/>
	<div class="container">
        <h1 style="text-align:center;">Cancer Disease Prediction - Disease Index</h1>
    <p style="text-align:center;">This is a directory of all the diseases that Predictions can generate assessments for, this index provides in depth.
    details about the disease including its symptoms.</p>
<h2>1. Lung Cancer</h2>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 500px" src="{% static 'images/Lungcancer.jpg' %}" /><br/><br/>
   </div>
<p>The Lungs are part of the respiratory system, a group of organs and tissues that work together to help one breathe. Each lung is divided into lobes. The bronchial tree running through the lungs is made up of the windpipe, bronchus, bronchi, bronchioles, and alveoli.</p>
<p>The main function of the lungs is the process of gas exchange called respiration.</p>
<p>In respiration, oxygen from incoming air enters the blood and carbon dioxide, waste gas from the metabolism, leaves the blood</p>
<h3>Do you know</h3>
<ul>
    <li>Lung Cancer is the second leading type of cancer known to affect men and women across the globe.</li><br>
    <li><b>25% of cancer related</b> are due to lung cancer.</li><br>
    <li>In India, Lung cancer constitutes 6.9% of all new cancer cases and 9.3% of all cancer related deaths in both sexes.</li>
</ul>
<p>
<h3>What is Lung Cancer?</h3></p>
<p>Lung Cancer is the uncontrolled growth of malignant cells that originate in the lungs. Lung cancer may spread to lymph nodes or other organs in the body, such as the brain.</p>
<p>The two general types of lung cancer include:</p>
<p>
<ul>
    <li><b>Small cell lung cancer:</b>It occurs almost exclusively in heavy smokers and is less common than non-small cell lung cancer.</li><br>
    <li><b>Non-small cell lung cancer:</b>It is an umbrella term for several types of lung cancers that behave similarly. Non-small cell lung cancers include squamous cell carcinoma, adenocarcinoma, and large cell carcinoma.</li>
</ul></p>
<p><h3>What are the symptoms of Lung Cancer?</h3></p>
<div style="text-align: center; margin-top: 20px">
    <img style="max-width: 600px" src="{% static 'images/Lungcancer2.jpg' %}" /><br/><br/>
</div>
<p>Symptoms of Lung cancer may include:</p>
<ul>
    <li>A cough that doesn’t go away</li><br>
    <li>Coughing up blood, even a small amount</li><br>
    <li>Shortness of breath</li><br>
    <li>Chest pain</li><br>
    <li>Hoarseness</li><br>
    <li>Losing weight without trying</li><br>
    <li>Headache</li><br>
    <li>Loss of memory</li>
</ul>
<p><h3>What are the main causes of Lung Cancer?</h3></p>
<div style="text-align: center; margin-top: 20px">
    <img style="max-width: 500px" src="{% static 'images/Lungcancer3.jpg' %}" /><br/><br/>
</div>
<ul>
    <li><b>Smoking Tobacco</b> is the biggest cause of lung-related complaints.The risk of lung cancer increases with the length of time and number of cigarettes smoked. Quitting at any age can significantly lower the risk of developing lung cancer.</li><br>
    <li><b>Secondhand smoke</b> is especially bad for babies and young children.</li><br>
    <li><b>Radon Gas</b> a recognized cause of lung cancer.</li><br>
    <li><b>Air pollution</b> may contribute to asthma, COPD, lung cancer, and other lung diseases.</li><br>
    <li><b>Exposure to asbestos and other carcinogens</b> can increase the risk of developing lung cancer.</li><br>
    <li><b>Personal or Family history</b> of lung cancer.</li>
</ul>
<p><h3>Tips for healthy lungs</h3></p>
<ul>
    <li>Don’t smoke and avoid secondhand smoke.</li><br>
    <li>Minimize exposure to outdoor air pollution</li><br>
    <li>Avoid exposure to indoor pollutants</li><br>
    <li>Avoid carcinogens at work</li><br>
    <li>Get regular aerobic exercise</li><br>
    <li>Eat a diet full of fruits and vegetable</li>
</ul>
<p><h3>How is Lung cancer treated?</h3></p>
<p>The doctor may recommend below cancer treatment plans based on several factors, such as overall health,the type, the stage of cancer and the size of cells present and whether they have spread. Often, combinations of therapies are used.</p>
<ul>
    <li><b>Surgery</b> be an option if the cancer is confined to the lungs.</li><br>
    <li><b>Radiation Therapy</b> uses high-powered energy beams from sources such as X-rays and protons to kill cancer cells.</li><br>
    <li><b>Chemotherapy</b> uses drugs to shrink or eradicate cancer cells.</li><br>
    <li><b>Radiosurgery</b> is an intense radiation treatment that aims many beams of radiation from multiple angles at cancer.</li><br>
    <li><b>Targeted drug therapy</b> focuses on specific abnormalities present within cancer cells. By blocking these abnormalities, targeted drug treatments can cause cancer cells to die.</li>
</ul>
<div style="text-align: center; margin-top: 20px">
    <img style="max-width: 600px" src="{% static 'images/Lungcancer4.jpg' %}" /><br/><br/>
</div>

<h3>What health problems can people with diabetes develop? </h3>
<p>Over time, high blood glucose leads to problems such as</p>

 <ul>
  <li>heart disease</li><br>
  <li>stroke</li><br>
  <li>kidney disease</li><br>
  <li>eye problems</li><br>
  <li>dental disease</li><br>
  <li>nerve damage</li><br>
  <li>foot problems</li>
</ul>
<br>
<hr>
<br>

<h2>2. Blood Cancer</h2>
<div style="text-align: center; margin-top: 20px">
    <img style="max-width: 500px" src="{% static 'images/Bloodcancer1.jpg' %}" /><br/>
</div>
<br>
<p>Blood Cancer is also known as haematological cancer includes leukaemia, lymphoma, and multiple myeloma. Blood cancer originates in the blood-forming tissue, such as the bone marrow, or in the cells of the immune system like lymph nodes. Abnormal blood cells affect the normal production or regular function of normal blood cells, including fighting against diseases or limiting blood loss</p>
<p>Blood cancer accounts for eight percent of all new cases of cancer diagnosed in India. Blood cancer can affect any age group and gender, including children and the elderly. The specific cause of blood cancer is still unknown.</p>
<p><h3>What are the symptoms of Blood Cancer?</h3></p>
<p>A body suffering from Leukemia shows a different number of signs and symptoms. Again, keep in mind that these symptoms can vary according to the immunity of your body. Also, you should always be aware of these symptoms as they turn more severe over time.</p>
<div style="text-align: center; margin-top: 20px">
    <img style="max-width: 500px" src="{% static 'images/Bloodcancer2.jpg' %}" /><br/><br/>
</div>
<p>Some common blood cancer symptoms include:</p>
<ul>
    <li>Fever, chills</li><br>
    <li>Persistent fatigue, weakness</li><br>
    <li>Loss of appetite, nausea</li><br>
    <li>Unexplained weight loss</li><br>
    <li>Night sweats</li><br>
    <li>Bone/joint pain</li><br>
    <li>Abdominal discomfort</li><br>
    <li>Headaches</li><br>
    <li>Shortness of breath</li><br>
    <li>Frequent infections</li><br>
    <li>Itchy skin or skin rash</li><br>
    <li>Swollen lymph nodes in the neck, underarms or groin</li>
</ul>
<p><h3>What are the main causes of Blood Cancer?</h3></p>
<p>There are various risk factors which are associated with the cause of Leukemia like:</p>
<ul class="simple-list">
    <li>Inherited Genes or any family history of Leukemia</li><br>
    <li>Petrochemicals like benzen></li><br>
    <li>Smoking (mostly leads to acute myeloid leukemia)</li><br>
    <li>Radiation: Any radiotherapy treatment for any disease in the past or because of continues contact with high radiation</li><br>
    <li>Genetic Disorder most commonly Down’s Syndrome</li><br>
    <li>Blood Disorders like Myelodysplastic Syndrome</li><br>
    <li>Weak Immune System</li><br>
    <li>Hair Dyes</li><br>
    <li>Virus-like HTLV-1 and HIV</li>
    </ul>
<p><h3>How to Diagnose Blood Cancer</h3></p>
<p>There are a number of diagnostic tests which the doctors perform to verify Leukemia and its level.</p>
<p><b>Blood Test:</b> This is one of the most suggested options for diagnoses of Leukemia. The blood test reports give the exact idea about Leukaemia, but doctors carry out further advance blood test for confirmation.</p>
<p><b>Bone Marrow Sample: </b>The cancerous cells target the bone marrow to cause Leukemia. So, this is also an effective way to detect this blood cancer type. This test is conducted by giving local anesthesia to the body, followed by the insertion of a needle in the pelvic bone. Through this, the doctors bring a tiny portion of bone marrow out of the body and check its status under the microscope. Another option which is available is the blood test of the Bone Marrow Sample.</p>
<p><b>Lumbar Puncture:</b> To conduct this test, a small amount of cerebrospinal fluid (CSF) is required which is present around the spinal cord. To withdraw cerebrospinal fluid (CSF), a needle is inserted between the Vertebrae in the lower lumbar region of the spinal cord. This test is most effective when we want to check the spreading of Leukemia.</p>
<p><b>Cell and Chromosome Analysis: </b>All the above test helps us in detecting Leukemia, but this test will help you know about the specific type of Leukemia from which the patient is suffering as it tells you precisely about the suffering cell.</p>

<p><h3>How is Blood cancer treated?</h3></p>

<p>Blood Cancer is a treatable disease if proper care and treatment are given to the patient. Multiple treatments are available for Blood cancer like:</p>

<p><strong>Stem Cell Transplantation:</strong> Stem Cell Transplantation is one of the ideal ways to treat Leukemia. In this treatment, the infected bone marrow is replaced by uninfected bone marrow. Again, these are of two types: autologous transplantation (in which your healthy bone marrow is used as a replacement) or autologous transplantation (in this donor donates you a healthy bone marrow).</p>
<p><strong>Immunotherapy</strong>In this treatment, the immune system is made to remember and attack the cancer cells.</p>
<p><strong>Chemotherapy:</strong> Currently, this is the most used treatment for Leukemia. According to the Leukemia type, the drugs are injected or given to the body to kill the cancerous cells. The general drawback of chemotherapy is that the chemo drugs also infects the healthy cells.</p>
<p><strong>Radiation Therapy:</strong> In Radiation therapy, a specific area is targeted where the complete radiation will be focused. In this way, the leukemia cells of a particular portion are killed, or their further expansion is reduced.</span></p>
<p><strong>Targeted Therapy:</strong> In Targeted Therapy, medicines are given to the body according to the vulnerability of cancer cells.</p>
<hr>

<h2>3. Stomach Cancer</h2>
<div style="text-align: center; margin-top: 20px">
    <img style="max-width: 400px" src="{% static 'images/stomachcancer2.png' %}" /><br/>
</div>
<p>The stomach is a hollow organ which is muscular in nature and is found in the gastrointestinal tract. The stomach is a dilated structure and it functions as a vital digestive organ of the body</p>
<p>Stomach cancer is a building up of abnormal cells within the lining of the stomach. It is also known as gastric cancer. While stomach cancer is a relatively rare disease to be found in comparison to other types of cancer, but it is a difficulty diagnosed disease.</p>
<p><h3>What are the symptoms of Stomach Cancer?</h3></p>
<p>If we know the symptoms, we can be more cautious and report to our doctor for evaluation at the earliest. As the survival depends on the stage of the cancer, earlier it is detected, better the survival outcome! The following are the typical nonspecific gastric cancer / stomach cancer symptoms:</p>
<div style="text-align: center; margin-top: 20px">
    <img style="max-width: 500px" src="{% static 'images/stomachcancer3.png' %}" /><br/><br/>
</div>
<ul class="defaultList">
    <li><span style="display: initial;">Fatigue - an overall feeling of tiredness or lack of energy</span></li><br>
    <li><span style="display: initial;">Feeling bloated after eating - due to excess intestinal gas and digestive contents</span></li><br>
    <li><span style="display: initial;">Feeling full after eating small amount</span></li><br>
    <li><span style="display: initial;">Severe and persistent heartburn</span></li><br>
    <li><span style="display: initial;">Severe and unrelenting indigestion</span></li><br>
    <li><span style="display: initial;">Chronic unexplained nausea and vomiting</span></li><br>
    <li><span style="display: initial;">Unexplained Stomach pain</span></li><br>
    <li><span style="display: initial;">Unexplained Weight loss<br></span></li><br>
</ul>
<p><h3>What are the main Risk Factors and Causes of Stomach Cancer?</h3></p>
<div style="text-align: center; margin-top: 20px">
    <img style="max-width: 500px" src="{% static 'images/stomachcancer4.png' %}" /><br/><br/>
</div>
<p>Risk factors not necessarily lead to any cancer type. It is just a risk factor which affects the chance of getting a disease. Some risk factors can be changed like smoking. While others can’t be changed like the age of the person or family history.</p>
<p>Having a risk factor, or not having a risk factor, never guarantees the existence of the disease</p>
<p>However, there are some risk factors which pose a risk of developing abnormal cancer cells. These risk factors are</p>
<ul>    
    <li>H. pylori bacterial infections (this can sometimes lead to ulcers)</li><br>
    <li>Stomach polyps ( are abnormal growths of tissue along the lining of stomach)</li><br>
    <li>Older adults, people 50 years and older</li><br>
    <li>Men are more likely to have than women</li><br>
    <li>Smokers and alcohol drinkers</li><br>
    <li>Family history of the disease</li><br>
    <li>Eating a lot of salty or processed foods</li><br>
    <li>Eating too much meat</li><br>
    <li>Alcohol abuse</li>
</ul>
<p><h3>How is Stomach Cancer Diagnosed?</h3></p>
<div style="text-align: center; margin-top: 20px">
    <img style="max-width: 600px" src="{% static 'images/stomachcancer5.png' %}" /><br/><br/>
</div>
<p>Once the patient report to the doctor, the doctor will then perform a series of investigations to confirm the diagnosis and evaluate to find the stage of the cancer. These are very important steps, as diagnosis and type and stage of cancer determine further treatment and survival of the patient. Commonly used procedures to diagnose stomach cancer include</p>
<ul class="defaultList">
    <li><span style="display: initial; font-weight: bold;">Endoscopy</span><span class="" style="display: initial;"> <span style="display: initial;">– A thin tube with a tiny camera is passed down the throat and into the stomach to look for the tumour.&nbsp;</span></span></li><br>
    <li><span style="display: initial; font-weight: bold;">Biopsy of the Tumour</span><span class="" style="display: initial;"> <span style="display: initial;">- a piece of tissue sample is taken as biopsy during endoscopy for further evaluation, a very essential step as without tissue diagnosis, no therapy can be given.</span></span></li><br>
    <li><span style="display: initial; font-weight: bold;">Endoscopic Ultrasound</span><span class="" style="display: initial;"> <span style="display: initial;">– done to assess the depth of tumour invasion, required for staging of the cancer.</span></span></li><br>
    <li><span class="" style="display: initial; font-weight: bold;"><span style="display: initial; font-weight: bold;">Imaging tests</span></span><span style="display: initial;">- Imaging tests to find the extent of disease, for staging, include computerized tomography (CT) scan, MRI, positron emission tomography (PET) and a barium swallow.</span></li><br>
    <li><span style="display: initial; font-weight: bold;">Exploratory surgery</span><span class="" style="display: initial;"> <span style="display: initial;">- Once a decision is taken to operate, exploratory laparoscopy is undertaken to confirm operability.<br></span></span></li></ul>
<hr>
    {% endblock %}

