{% extends 'base.html' %}
{% load static %}
{% block main %}
    <br/>
    <br/>
	<div class="container">
        <h1 style="text-align:center;">Algorithm Analysis</h1>
    <p style="text-align:center;">This is a directory of all the diseases that Predictions can generate assessments for, this index provides in depth.</p>
<h2>1. Decision Tree Classifier</h2>
<div style="text-align: center; margin-top: 20px">
       <img style="max-width: 500px" src="{% static 'images/graphs/DT model.png' %}" /><br/><br/>
   </div>

   <h2>2. Random Forest Classifier</h2>
   <div style="text-align: center; margin-top: 20px">
          <img style="max-width: 500px" src="{% static 'images/graphs/DT model.png' %}" /><br/><br/>
      </div>
   {% endblock %}